version: "1.0"
type: navigation-item
data:
  path: "diagnostics.performance-statistics.tempmon"
  text: _("Temp Monitor")
  icon: "mdi:thermometer"
  url: "/diagnostics/performance-statistics/tempmon"
